@import "var";
.el-loading-mask {
    &.is-fullscreen {
        background-color: rgba(0, 0, 0, 0.4);
    }
}

//store-pse-list jiantou
.el-table__expand-icon {
    color: #00a1ff;
}

.el-table {
    font-size: 12px;
    &:before {
        background: none !important;
    }
    &.el-table--striped {
        th, td {
            height: auto;
            padding: 12px 0;
            border-bottom: none !important;
        }
        th > .cell {
            color: #444;
            font-weight: 400;
        }
        .cell {
            line-height: 1.4;
            padding: 0 4px;
        }
    }
    .el-table__header {
        tr {
            background: #f8f8f8;
        }
    }
    .el-table__body-wrapper {
        tr {
            &:nth-child(even) {
                //background: #f8f8f8;
            }
        }
    }
}

/*门店列表中行高*/
.el-table td, .el-table th, .el-table__expand-icon {
    height: 30px;
}

/*弹窗样式*/
.el-dialog__header {
    padding: 10px 20px;
    border-bottom: 1px solid #e5e5e5;
    .el-dialog__title {
        font-weight: 400;
        font-size: 14px;
        line-height: normal;
    }
    .el-dialog__headerbtn {
        top: 10px;
    }
    .el-dialog__close {
        font-size: 12px;
    }
}
.el-dialog {
    .el-dialog__body {
        padding: 20px;
    }
}

.el-message-box__header {
    position: relative;
    padding: 10px 15px;
    border-bottom: 1px solid #e5e5e5;
    .el-message-box__title {
        font-size: 14px;
        font-weight: 400;
        line-height: normal;
    }
    .el-message-box__headerbtn {
        top: 10px;
    }
    .el-message-box__close {
        font-size: 12px;
    }
}

.el-message-box__btns {
    .el-button {
        padding: 7px 10px;
    }
}

.el-dialog__body .el-form-item__label {
    font-size: 12px;
    text-align: left;
}

.el-form-item__label {
    color: #999;
    font-size: 12px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.el-form-item {
    margin-bottom: 20px;
}

.el-dialog__body {
    .el-form-item {
        &.is-required {
            .el-form-item__label {
                &:before {
                    display: none;
                }
                &:after {
                    content: '*';
                    color: #ff4949;
                    margin-left: 4px;
                }
            }
        }
    }
}
.el-select-dropdown  .popper__arrow {
    transform: translateX(0);
}
.el-select {
    .el-select__tags {
        width: 100%;
        .el-select__multiple-text {
            display: inline-block;
            vertical-align: middle;
            line-height: 30px;
        }
    }
}

.el-cascader-menu__item {
    padding: 7px 10px;
    height: 26px;
    line-height: 1;
}

.el-cascader__label {
    line-height: 28px;
    font-size: 12px;
}

.el-cascader-menu {
    height: 213px;
}

.el-message__group p {
    color: #8391a5;
}

.el-pagination .btn-prev,
.el-pagination .btn-next,
.el-pagination .el-pager li,
.el-pagination .el-pager li:last-child {
    height: 28px;
    line-height: 28px;
    padding: 0 6px;
    background: none;
    font-size: 14px;
    border: none;
    font-weight: 400;
    color: #999;
}
.el-pagination .btn-prev,
.el-pagination .btn-next {
    background: #f8f8f8;
    padding: 0;
    width: 10px;
    &.disabled {
        background: #fafafa;
    }
}
.el-pagination {
    color: #999;
    li.active {
        border: none;
        color: @--color-primary;
    }
    .el-pagination__total {
        //margin: 0 0 0 10px;
        color: #999;
    }
    .el-pagination__jump {
        color: #999;
    }
}

.el-card {
    box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.07);
}
.el-card__header {
    font-size: 14px;
    padding: 8px 20px;
    overflow: hidden;
    line-height: 28px;
}
.el-range-editor {
    display: flex;
}

.el-radio-button {
    .el-radio-button__inner {
        font-weight: 400;
    }
}

.el-checkbox + .el-checkbox {
    margin-left: 20px;
}
.el-checkbox__label {
    padding-left: 0;
}

.form-property-list {
    .el-form-item {
        margin-bottom: 0;
        .el-form-item__label {
            font-size: 14px;
            color: #999;
        }
        .el-form-item__content {
            color: #666;
        }
    }
}